
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
DateTime==4.3
fake-useragent==0.1.11
geckodriver-autoinstaller==0.1.0
idna==2.10
numpy==1.20.2
pandas==1.2.4
setuptools==47.1.0
flask==2.1.0
pickle5==0.0.11
pip==21.0.1
progressbar2==3.53.1
pymongo==3.11.3
python-dateutil==2.8.1
python-dotenv==0.17.0
python-utils==2.5.6
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
zope.interface==5.4.0